# Setting

두 역의 최적화된 거리를 찾습니다.

In [5]:
import pandas as pd
import numpy as np
import folium

station_side = pd.read_csv('./DATA/station_side_1216.csv')

# 동일한 호선에 있을 때

In [5]:
start = '신도림'
finish = '신설동'

## prob_line 함수

In [6]:
def prob_line(df,start,finish):
    st_line = df.loc[df['st_name']==start,'st_line'].unique()
    fn_line = df.loc[df['st_name']==finish,'st_line'].unique()
    output = []
    for i in range(len(st_line)):
        if st_line[i] in fn_line:
            output.append(st_line[i])
    return output

In [7]:
prob_line = prob_line(station_side, start, finish)

## Move 함수

역 이동을 카운트하도록 누적하는 함수입니다.

In [6]:
station_side

,st_name,st_line,st_A,st_B,st_C,coord_st
0,소요산,1호선,"['동두천', 0.02116404545449643]","[nan, nan]","[nan, nan]","[37.9481, 127.061034]"
1,동두천,1호선,"['소요산', 0.02116404545449643]","['보산', 0.014392503083202186]","[nan, nan]","[37.927878, 127.05479]"
2,보산,1호선,"['동두천', 0.014392503083202186]","['동두천중앙', 0.01184371200257797]","[nan, nan]","[37.913702, 127.057277]"
3,동두천중앙,1호선,"['보산', 0.01184371200257797]","['지행', 0.009581667756699976]","[nan, nan]","[37.901885, 127.056482]"
4,지행,1호선,"['동두천중앙', 0.009581667756699976]","['덕정', 0.04945962026746254]","[nan, nan]","[37.89233400000001, 127.05571599999999]"
...,...,...,...,...,...,...
1369,운양,김포,"['걸포북변', 0.016557238445171638]","['장기', 0.03401043440947536]","[nan, nan]","[37.647972700000004, 126.70362340000001]"
1370,장기,김포,"['운양', 0.03401043440947536]","['마산', 0.027406449955063025]","[nan, nan]","[37.6435941, 126.669896]"
1371,마산,김포,"['장기', 0.027406449955063025]","['구래', 0.011694657185648629]","[nan, nan]","[37.6387308, 126.6429245]"
1372,구래,김포,"['마산', 0.011694657185648629]","['양촌', 0.016543660775058623]","[nan, nan]","[37.6372695, 126.63132150000001]"
1373,양촌,김포,"['구래', 0.016543660775058623]","[nan, nan]","[nan, nan]","[37.6406375, 126.6151243]"

In [29]:
def move(df,st_name):
    temp = []
    for i in st_name:
        unit = df[df['st_name']==i]
        for j in range(len(unit)):
            each = unit.iloc[j]
            temp.append(each['st_A'][0])
            temp.append(each['st_B'][0])
            temp.append(each['st_C'][0])
    temp = pd.Series(temp)
    temp = temp[~temp.isnull()].tolist()
    return list(set(temp))

In [47]:
def move_count(df, start, finish):
    st_name = [start]
    prev = []
    count = 0
    if start == finish:
        pass
    else:
        while True:
            print(f'{count}번째 시도 : {st_name}')
            prev.extend(st_name)
            st_name = move(df,st_name)
            st_name = list(set(st_name)-set(prev))
            count += 1
            if finish in st_name:
                break
                print(f'{count}번째 시도 : {st_name}')
    return count

In [48]:
pd.set_option('display.max_rows', 500)
station_side[station_side['st_line']=='1호선']

    st_name st_line     st_A   st_B     st_C  transit
0       소요산     1호선      동두천    NaN      NaN        1
1       동두천     1호선      소요산     보산      NaN        1
2        보산     1호선      동두천  동두천중앙      NaN        1
3     동두천중앙     1호선       보산     지행      NaN        1
4        지행     1호선    동두천중앙     덕정      NaN        1
5        덕정     1호선       지행     덕계      NaN        1
6        덕계     1호선       덕정     양주      NaN        1
7        양주     1호선       덕계     녹양      NaN        1
8        녹양     1호선       양주     가능      NaN        1
9        가능     1호선       녹양    의정부      NaN        1
10      의정부     1호선       가능     회룡      NaN        1
11       회룡     1호선      의정부    망월사      NaN        2
12      망월사     1호선       회룡    도봉산      NaN        1
13      도봉산     1호선      망월사     도봉      NaN        2
14       도봉     1호선      도봉산     방학      NaN        1
15       방학     1호선       도봉     창동      NaN        1
16       창동     1호선       방학     녹천      NaN        2
17       녹천     1호선       창동     월계      NaN        1
18       월계     1호선       녹천    광운대      NaN        1
19      광운대     1호선       월계     석계      NaN        2
20       석계     1호선      광운대    신이문      NaN        2
21      신이문     1호선       석계    외대앞      NaN        1
22      외대앞     1호선      신이문     회기      NaN        1
23       회기     1호선      외대앞    청량리      NaN        3
24      청량리     1호선       회기    제기동      NaN        4
25      제기동     1호선      청량리    신설동      NaN        1
26      신설동     1호선      제기동    동묘앞      NaN        3
27      동묘앞     1호선      신설동    동대문      NaN        2
28      동대문     1호선      동묘앞   종로5가      NaN        2
29     종로5가     1호선      동대문   종로3가      NaN        1
30     종로3가     1호선     종로5가     종각      NaN        3
31       종각     1호선     종로3가     시청      NaN        1
32       시청     1호선       종각    서울역      NaN        2
33      서울역     1호선       시청     남영      NaN        3
34       남영     1호선      서울역     용산      NaN        1
35       용산     1호선       남영    노량진      NaN        2
36      노량진     1호선       용산     대방      NaN        2
37       대방     1호선      노량진     신길      NaN        1
38       신길     1호선       대방    영등포      NaN        2
39      영등포     1호선       신길    신도림      NaN        1
40      신도림     1호선      영등포     구로      NaN        2
41       구로     1호선      신도림     구일  가산디지털단지        1
42       구일     1호선       구로     개봉      NaN        1
43       개봉     1호선       구일    오류동      NaN        1
44      오류동     1호선       개봉     온수      NaN        1
45       온수     1호선      오류동     역곡      NaN        2
46       역곡     1호선       온수     소사      NaN        1
47       소사     1호선       역곡     부천      NaN        2
48       부천     1호선       소사     중동      NaN        1
49       중동     1호선       부천     송내      NaN        1
50       송내     1호선       중동     부개      NaN        1
51       부개     1호선       송내     부평      NaN        1
52       부평     1호선       부개     백운      NaN        2
53       백운     1호선       부평     동암      NaN        1
54       동암     1호선       백운     간석      NaN        1
55       간석     1호선       동암     주안      NaN        1
56       주안     1호선       간석     도화      NaN        2
57       도화     1호선       주안    제물포      NaN        1
58      제물포     1호선       도화     도원      NaN        1
59       도원     1호선      제물포    동인천      NaN        1
60      동인천     1호선       도원     인천      NaN        1
61       인천     1호선      동인천    NaN      NaN        2
62  가산디지털단지     1호선       구로     독산      NaN        2
63       독산     1호선  가산디지털단지   금천구청      NaN        1
64       광명     1호선     금천구청    NaN      NaN        1
65     금천구청     1호선       광명     석수       독산        1
66       석수     1호선     금천구청     관악      NaN        1
67       관악     1호선       석수     안양      NaN        1
68       안양     1호선       관악     명학      NaN        1
69       명학     1호선       안양     금정      NaN        1
70       금정     1호선       명학     군포      NaN        2
71       군포     1호선       금정     당정      NaN        1
72       당정     1호선       군포     의왕      NaN        1
73       의왕     1호선       당정   성균관대      NaN        1
74     성균관대     1호선       의왕     화서      NaN        1
75       화서     1호선     성균관대     수원      NaN        1
76       수원     1호선       화서     세류      NaN        2
77       세류     1호선       수원     병점      NaN        1
78       병점     1호선       세류     세마      서동탄        1
79       세마     1호선       병점    오산대      NaN        1
80      오산대     1호선       세마     오산      NaN        1
81       오산     1호선      오산대     진위      NaN        1
82       진위     1호선       오산     송탄      NaN        1
83       송탄     1호선       진위    서정리      NaN        1
84      서정리     1호선       송탄     지제      NaN        1
85       지제     1호선      서정리     평택      NaN        1
86       평택     1호선       지제     성환      NaN        1
87       성환     1호선       평택     직산      NaN        1
88       직산     1호선       성환     두정      NaN        1
89       두정     1호선       직산     천안      NaN        1
90       천안     1호선       두정     봉명      NaN        1
91       봉명     1호선       천안     쌍용      NaN        1
92       쌍용     1호선       봉명     아산      NaN        1
93       아산     1호선       쌍용     배방      NaN        1
94       배방     1호선       아산   온양온천      NaN        1
95     온양온천     1호선       배방     신창      NaN        1
96       신창     1호선     온양온천    NaN      NaN        1
97      서동탄     1호선       병점    NaN      NaN        1

In [49]:
move_count(station_side,'인천','청량리')

0번째 시도 : ['인천']
1번째 시도 : ['동인천', '신포']
2번째 시도 : ['도원', '숭의']
3번째 시도 : ['제물포', '인하대']
4번째 시도 : ['송도', '도화']
5번째 시도 : ['연수', '주안']
6번째 시도 : ['주안국가산단', '간석', '원인재', '시민공원']
7번째 시도 : ['신연수', '동암', '동춘', '남동인더스파크', '석바위시장', '가재울']
8번째 시도 : ['선학', '인천시청', '인천가좌', '백운', '동막', '호구포']
9번째 시도 : ['부평', '문학경기장', '인천논현', '캠퍼스타운', '서부여성회관', '예술회관', '석천사거리', '간석오거리']
10번째 시도 : ['부평삼거리', '석남', '부개', '모래내시장', '테크노파크', '인천터미널', '소래포구', '동수', '부평시장']
11번째 시도 : ['지식정보단지', '만수', '송내', '월곶', '가정중앙시장', '부평구청']
12번째 시도 : ['중동', '갈산', '달월', '남동구청', '가정', '인천대입구', '굴포천']
13번째 시도 : ['서구청', '인천대공원', '부천', '오이도', '삼산체육관', '센트럴파크', '작전']
14번째 시도 : ['상동', '정왕', '아시아드경기장', '운연', '경인교대입구', '국제업무지구', '소사']
15번째 시도 : ['계산', '부천시청', '검바위', '소새울', '역곡', '신길온천']
16번째 시도 : ['시흥대야', '임학', '신중동', '안산', '검암', '온수']
17번째 시도 : ['청라국제도시', '독정', '계양', '신천', '초지', '까치울', '춘의', '오류동', '천왕', '박촌']
18번째 시도 : ['부천종합운동장', '완정', '김포공항', '선부', '영종', '고잔', '귤현', '광명사거리', '신현', '원곡', '개봉']
19번째 시도 : ['달미', '마전', '송정', '중앙', '철산', '시흥시청', '개화산', '고촌', '운서', '마곡나루', '개화', '구일', '공항시장', '원시']
20번째 시도 : ['디지털미디어시티', '한대앞', '검단사거리', '풍무', '마곡', '구로', '공항화물청사', '양천향교', '방화', '가산디지털단지', '신방화', '시흥능곡']
21번째 시도 : ['인천공항1터미널', '남구로', '가좌', '상록수', '가양', '수색', '독산', '증산', '사우(김포시청)', '홍대입구', '왕길', '발산', '월드컵경기장', '신도림']
22번째 시도 : ['서강대', '마포구청', '우장산', '반월', '대림', '걸포북변', '신촌', '신촌(경의중앙)', '화전', '공덕', '도림천', '합정', '검단오류', '금천구청', '새절', '증미', '인천공항2터미널', '영등포', '문래']
23번째 시도 : ['응암', '대야미', '서울역', '당산', '광명', '서울역(경의중앙)', '신풍', '이대', '신길', '망원', '강매', '석수', '영등포구청', '등촌', '구로디지털단지', '마포', '화곡', '애오개', '대흥', '양천구청', '상수', '운양', '효창공원앞']
24번째 시도 : ['선유도', '남영', '신대방', '숙대입구', '행신', '수리산', '회현', '여의나루', '역촌', '광흥창', '보라매', '여의도', '까치산', '시청', '아현', '충정로', '신정네거리', '양평', '염창', '국회의사당', '대방', '장기', '영등포시장', '삼각지', '용산', '관악']
25번째 시도 : ['명동', '신용산', '능곡', '신목동', '산본', '서대문', '신림', '오빈', '안양', '을지로입구', '녹사평', '마산', '불광', '이촌', '신대방삼거리', '원덕', '신정', '샛강', '오목교', '종각', '노량진']
26번째 시도 : ['용문', '아신', '광화문', '동작', '충무로', '목동', '서빙고', '독바위', '봉천', '을지로3가', '금정', '노들', '종로3가', '녹번', '장승배기', '대곡', '구래', '명학', '이태원', '연신내']
27번째 시도 : ['안국', '한강진', '범계', '국수', '군포', '곡산', '상도', '한남', '구산', '구파발', '동대입구', '을지로4가', '동대문역사문화공원', '지평', '종로5가', '흑석', '양촌', '화정', '홍제', '백석', '서울대입구', '총신대입구', '구반포']
28번째 시도 : ['남성', '내방', '동대문', '원당', '지축', '약수', '백마', '청구', '사당', '버티고개', '숭실대입구', '옥수', '신당', '평촌', '당정', '신원', '신반포', '낙성대', '경복궁', '마두', '무악재']
29번째 시도 : ['독립문', '풍산', '방배', '상왕십리', '신금호', '혜화', '고속터미널', '원흥', '압구정', '남태령', '정발산', '삼송', '양수', '응봉', '의왕', '동묘앞', '금호', '인덕원']
30번째 시도 : ['왕십리', '신설동', '사평', '신사', '창신', '선바위', '성균관대', '반포', '서초', '교대', '주엽', '일산', '행당', '운길산', '정부과천청사', '한성대입구', '잠원']

31

# 환승이 필요할 때

1. 스타트 호선에서 하나를 잡고, 피니시 호선이 하나라도 나올 때까지 이동시킨다.
2. 피니시 호선이 나왔을 때 과정을 포함한다.
3. 여러개의 케이스 중 count 가 가장 낮은 것

만약 1번 이상의 환승이 좋다면? 3번까지 해본다.

### 1번 환승

In [29]:
start = '역곡'
finish = '합정'

In [30]:
st_line = station_side.loc[station_side['st_name']==start,'st_line'].unique()
fn_line = station_side.loc[station_side['st_name']==finish,'st_line'].unique()

In [33]:
fn_line

array(['2호선', '6호선'], dtype=object)

In [42]:
sp,tp,tn = [[],[],[]]
for i in st_line:
    pool = station_side.loc[station_side['st_line']==i,'st_name'].tolist()
    for j in fn_line:
        for k in pool:
            if k in station_side.loc[station_side['st_line']==j,'st_name'].tolist():
                sp.append(i);tp.append(j);tn.append(k)
output = pd.DataFrame({'sp':sp,'tp':tp,'tn':tn})

In [43]:
output

    sp   tp   tn
0  1호선  2호선  신설동
1  1호선  2호선   시청
2  1호선  2호선  신도림
3  1호선  6호선   석계
4  1호선  6호선  동묘앞

# Example

## centering 함수

- N명의 좌표가 주어졌을 때, 중점 그룹을 찾아주는 함수입니다.

In [25]:
def centering(geocodes):
    points = []
    if len(geocodes) > 2:
        for i in range(len(geocodes)):
            for j in range(len(geocodes)):
                if i != j:
                    point = {'lat':(geocodes[i]['lat'] + geocodes[j]['lat'])/2,
                             'lng':(geocodes[i]['lng'] + geocodes[j]['lng'])/2}
                    points.append(point)                        
    elif len(geocodes) == 2:
        point = {'lat':(geocodes[0]['lat'] + geocodes[1]['lat'])/2,
                 'lng':(geocodes[0]['lng'] + geocodes[1]['lng'])/2}
        points.append(point)
    else:
        point = {'lat':geocodes[0]['lat'],
                 'lng':geocodes[0]['lng']}
        points.append(point)
    
    # 중복된 데이터 제거
    compare = set()
    output = []
    for point in points:
        unit = tuple(point.items())
        if unit not in compare:
            compare.add(unit)
            output.append(point)
    return(output)

## distance 함수

- 중점 그룹과 서울에 있는 모든 역의 좌표와의 거리 평균을 계산해주는 함수입니다.

In [26]:
def distance(centers,lat,lng):
    distances = []
    for i in range(len(centers)):
        hor = (centers[i]['lat'] - lat)**2
        ver = (centers[i]['lng'] - lng)**2
        distances.append(math.sqrt(hor + ver))
    return np.mean(distances)

## optimize 함수

- Googlemaps를 통해 N명의 좌표를 불러오고, 중점 그룹에서 가까운 역을 거리 순으로 정렬하여 출력하는 함수입니다.

In [27]:
def optimize(location):
    geocodes = []
    for k in range(len(location)):
        result_01 = gmaps.geocode(location[k])[0].get('geometry')['location']
        result_02 = {'lat':float(result_01['lat']),
                     'lng':float(result_01['lng'])}
        geocodes.append(result_02)  
        
    centers = centering(geocodes)
    df['distance'] = df.apply(lambda x: distance(centers=centers,
                                                 lat=x['st_x'],
                                                 lng=x['st_y']), axis=1)
    place = df.sort_values('distance', ascending=True).head(5).reset_index(drop=True)
    return(place)

# 적용 사례

In [28]:
location = ['제이드카운티','청량리역','화곡동']
optimize(location)

NameError: name 'gmaps' is not defined